.DS_Store
*.pyc
__pycache__
/data_dump_bak
/data_dump
data_dump
model/
logs
log
logs_*
logs-*
data_dump_lift
datasets
*.so
gcn-group-ck/good/
gcn-group-ck/pair/
*png
*ply
build
*stderr*
*stdout*
*pth
*pkl
tmp/
*tar.gz
tr1e6-fc-imw_eval/output*
tr1e6-fc-imw_eval/zip*
tr1e6-fc-imw_eval/results/
bak
